@import "src/style.scss";

.PreviewCardSmall {
  width: $card-width-small;
  height: $card-height-small;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue-grey;
  border-radius: 12px;
  transition: box-shadow 0.5s;
  .image_wrapper {
    position: relative;
    width: $image-width-small;
    height: $image-height-small;
    display: flex;
    img {
      width: $image-width-small;
      align-self: center;
    }
    p {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;

      position: absolute;
      max-width: calc($image-width-small - 1vw);
      max-height: calc($image-height-small - 1vh);
      padding: 1vw 1vh 1vw 1vh;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: $blue-pale-transparent;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;

      transition: opacity 0.5s, visibility 0.2s;
    }
  }
}
.PreviewCardSmall:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .image_wrapper p {
    visibility: visible;
    opacity: 1;
  }
}
