@import "src/style.scss";

.ProjectContainer {
  display: flex;
  align-items: center;
  //the below doesn't work for in edge 18, but all other major browsers
  justify-content: space-evenly;
  max-width: 100vw;
  flex-wrap: wrap;
  min-height: calc(100vh - #{$header-height});
}
