@import "src/style.scss";

.About{
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  
  .profile_picture {
    max-width: 30%;
  }
  .profile_text {
    font-family: $montserrat;
    max-width: 60%;
  }
  .project_text{
    max-width: 45%;
  }
  .project_picture{
    max-width: 45%;
  }
}