@import "src/style.scss";

.About{
  margin: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  font-size: large;

  .profile_picture {
    max-width: 25%;
    flex: 2 1 25%;
  }
  .profile_text {
    font-family: $montserrat;
    max-width: 65%;
  }
  .project_text{
    max-width: 45%;
  }
  .project_picture{
    max-width: 45%;
  }
}