@import "src/style.scss";

.Contact {
  margin: 24px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-height} - 48px);
  align-items: center;
  justify-items: center;
  .card_container {
    flex: 1 1 50%;
    width: 100%;
    @media only screen and (min-width: 448px){
      width: 400px;
    }
  }
  .text_container {
    flex: 1 1 30%;
    max-width: 400px;
    @media only screen and (min-width: 545px){
      max-width: 80%;
    }
  }
  .button_container{
    flex: 1 1 20%;
    font-family: $montserrat;
  }
}