@import "src/style.scss";

$text-height: $header-height * 0.6;

.Header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: $raleway;
  font-size: $text-height;
  grid-row: 1 / 2;
  border-bottom: 2px solid $wesleyan-black;
  background-color: $wesleyan-red;
  ul {
    float: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 0;
    padding-top: 0.4vh;
    li {
      list-style-type: none;
      img {
        padding-top: .3vh;
        height: $text-height;
      }
    }
    a {
      text-decoration: none;
      color: white;
      padding: 0 2vw $header-height * 0.125;
    }
    a:hover {
      padding-top: 1vh;
      background-color: $blue-grey;
    }
  }
}
