@import "src/style.scss";

$text-height: $header-height * 0.6;

.Header {
  font-family: $raleway;
  font-size: $text-height;
  width: 100vw;
  grid-row: 1 / 2;
  border-bottom: 2px solid $wesleyan-black;
  background-color: beige;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 0.4vh;
    li {
      list-style-type: none;
      img {
        padding-top: .3vh;
        height: $text-height;
      }
    }
    a {
      text-decoration: none;
      color: $wesleyan-black;
      padding: 0 2vw $header-height * 0.125;
    }
    a:hover {
      padding-top: 1vh;
      color: $wesleyan-red;
      background-color: rgba($wesleyan-black, 0.15);
    }
  }
}
