@import "src/style.scss";

.ImageCard {
  padding: calc(#{$projects-gap}) calc(#{$projects-gap}*1.5);
  display: flex;
  align-items: center;
  background: $blue-grey;
  border-radius: 12px;
  transition: box-shadow 0.5s, transform 0.5s ease-in-out;
  position: relative;
  .image {
    max-height: 100%;
    max-width: 100%;
  }
  .text {
    font-family: $montserrat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    padding: 10px;
    width: calc(100% - #{$projects-gap}*3 - 20px);
    height: calc(100% - #{$projects-gap}*3 - 20px);
    position: absolute;
    background: $blue-pale-transparent;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    transition: opacity 0.5s, visibility 0.2s;
  }
}

.Clickable{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.Clickable:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.ImageCard:hover {
  .text {
    visibility: visible;
    opacity: 1;
  }
}
