@import "src/style.scss";

.PreviewCard {
  width: 100%;
  padding: calc(#{$projects-gap}/3) calc(#{$projects-gap}/2);
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue-grey;
  border-radius: 12px;
  transition: box-shadow 0.5s;
  .image_wrapper {
    padding: 10px;
    position: relative;
    display: flex;
    width: auto;
    img {
      object-fit: cover;
      width: 100%;
      align-self: center;
      max-height: 100%;
    }
    p {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      padding: 10px;
      width: calc(100% - 40px);
      margin-top: 10px;
      margin-bottom: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      background: $blue-pale-transparent;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;

      transition: opacity 0.5s, visibility 0.2s;
    }
  }
}
.PreviewCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  .image_wrapper p {
    visibility: visible;
    opacity: 1;
  }
}
