@import "src/style.scss";

.body {
  font-family: $montserrat;
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 2em;
}

.heading {
  font-family: $raleway;
  font-size: 35px;
  text-align: center;
}