@import "src/style.scss";

body {
  margin: 0;
  background: $blue-grey-light;
  
  font-family: $montserrat;
  font-size: x-large;
  text-align: justify;
  text-indent: 2em;
}

#root {
  height: 100vh;
}
