@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

//Font Variables
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

//Color Variables. Palleton.com helped construct the scheme, while
//some colors are directly from the Wesleyan 2019 website
$wesleyan-red: #d72121;
$wesleyan-black: #101820;
$blue-grey: #2E8888;
$blue-grey-light: rgb(63, 189, 189);
$blue-grey-dark: #005555;


$header-height: 5vh;

