@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

//Font Variables
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

$wesleyan-red: #d72121;
$wesleyan-black: #101820;


$header-height: 5vh;